<!DOCTYPE html>
<html lang="en">

<head>
    <title>Paylist of Colours</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/handler.js"></script>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
    <h1>Click to find out!</h1>
    <div id="login"><button id="loginId">Start</button></div>
</body>

</html>