nav(class="navbar navbar-light" style="background-color: #783F4F;")
        a.navbar-brand.float-md-left.no-gutters(href='/')
            .navbarText Playlist Colour Generator
        a.navbar-brand.float-md-left.no-gutters(href='https://github.com/ruwanidealwis/playlistColours')
            img(src="/assets/GithubLogo.png" width="32px" height="32px"  target="_blank").a(href="https://github.com/ruwanidealwis/playlistColours")