body {
  background-color: #325d64;
  height: 100%;
}

.jumbotron {
  background: white;
  margin: 5%;
  border-radius: 0px;
  box-shadow: 15px 15px #1d272d;
}
#allUserInfo {
  border-width: thin;
  border-color: #dcdcdc;
  border-style: solid;
}
.playlistNameButton {
  width: 90%;
  text-align: left;
}
ul {
  height: 470px;
  width: 100%;

  overflow: hidden;
  overflow-y: scroll;
}

.dropdown-item {
  font-size: 13px;
  text-align: left;
}
.btn {
  background-color: white;
  border-radius: 0px;
  color: #817f7f;
  font-weight: light;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  border-bottom-width: thin;
  border-bottom-color: #dcdcdc;
  border-bottom-style: solid;
}
.dropdown-toggle-split {
  background-color: white;
  border-radius: 0px;
  width: 10%;
}
.dropdown-toggle-split:hover {
  background-color: #1d272d;
  color: white;
}

.btn:hover {
  background-color: #1d272d;
  color: white;
}
.dropdown-menu {
  height: 80%;
  width: 70%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #ededed;
}
#info {
  width: 100%;
  height: 60%;
  text-align: center;
}
.box {
  background: white;
  height: 50%;
}
#palette {
  width: 100%;
  height: 70%;
  padding: 7% 0%;
}
#colour1 {
  background-color: #1d272d;
}
#colour2 {
  background-color: #325d64;
}
#colour3 {
  background-color: #1d272d;
}
#colour4 {
  background-color: #325d64;
}
#colour5 {
  background-color: #1d272d;
}

.card {
  border-radius: 0px;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: 1.5% 0% 0%;
}
p {
  padding: 0%;
}
.card-body {
  color: #817f7f;
  padding: 0% 0% 0.5%;
  font-family: "Assistant", sans-serif;
}
.card-title {
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.navbarText {
  font-weight: light;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  color: white;
}
.algorithmInfo {
  font-family: "Assistant", sans-serif;
  font-size: 15px;
  text-align: left;
  margin: 2.7%;
  padding: 0.5% 0%;
  color: #817f7f;
}
h5 {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}
.textInfo {
  border-width: thin;
  border-color: #dcdcdc;
  border-style: solid;
  margin: 1%;
  width: 100%;
  height: 99.5%;
}
#Colour1Info {
  visibility: hidden;
  background-color: white;
  opacity: 0.5;
}
#Colour2Info {
  visibility: hidden;
  background-color: white;
  opacity: 0.5;
}
#Colour3Info {
  visibility: hidden;
  background-color: white;
  opacity: 0.5;
}
#Colour4Info {
  visibility: hidden;
  background-color: white;
  opacity: 0.5;
}
#Colour5Info {
  visibility: hidden;
  background-color: white;
  opacity: 0.5;
}
#colour1:hover #Colour1Info {
  visibility: visible;
}

#colour2:hover #Colour2Info {
  visibility: visible;
}
#colour3:hover #Colour3Info {
  visibility: visible;
}
#colour4:hover #Colour4Info {
  visibility: visible;
}
#colour5:hover #Colour5Info {
  visibility: visible;
}
.colourInfo {
  font-size: 12px;
  display: inline-block;
}
#cover {
  min-width: auto;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
}
.link {
  color: #cccccc;
}
